.checkout__ad {
  display: flex;
  align-items: center;
  margin: 15px;
  background-color: #ffff;
  padding: 10px;
}

.checkout__ad span {
  margin: 0 15px;
  margin-right: 30%;
}

@media (max-width: 1600px) {
  .checkout__ad span {
    margin-right: 10%;
  }
}

.checkout__ad button {
  align-items: right;
  padding: 10px;
  margin: 10px;
  white-space: nowrap;
}

.checkout {
  display: flex;
  padding: 20px;
  height: max-content;
}
.checkout__title {
  padding: 10px;
}
