.subtotal {
  width: 300px;
  padding: 20px;
  padding-bottom: 30px;
  background-color: #ffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal__title {
  font-size: 1.2rem;
  margin-bottom: 3%;
}

.subtotal__gift input {
  margin-right: 5px;
}

.subtotal button {
  background: #ffd814;
  border-radius: 20px;
  width: 100%;
  height: 30px;
  border: none;
  margin-top: 5%;
  cursor: pointer;
  box-shadow: 1px 1px 2px #999;
}

.subtotal button:hover {
  background-color: #e0b802d3;
}
